# macOS
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!nextjs-app/.env.local.example

# Node / Next
node_modules/
**/.next/
**/out/
**/.vercel/

# Editor
.vscode/
.idea/
*.swp

